 .item {
    margin: 1rem 0;
    display: flex;
  }
.accordion{
  width: 100%;
}

.title{
  margin-left: 1rem;
  width: 100%
}
.summary{
  display: block;
  justify-content: left;
}

.detail{
  text-align: left;
  margin: 0.5rem;
}
@media (max-width: 584px) {

  .title{
    margin-left: 0.3rem;
    font-size: 1rem;

  }
}

/*
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  

  .heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

 */