.filter {
  width: 350px;
  flex-grow: 1;
  max-width: 350px;
}

.container {
  width: 100vw;
}

.contentContainer {
  display: flex;
}

.caseList {
  flex-grow: 3;
  width: 100%;
  padding: 3rem;
}

@media (max-width: 900px) {
  .filter {
    width: 100%;
    padding: 1rem;
    max-width: none;
  }

  .contentContainer {
    display: block;
  }
}
