.body {
  display: flex;
  justify-content: center;
}
.ModalCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.modalBody {
  display: flex;
  justify-content: center;
  /* max-width: 30rem; */
}

.container {
  max-width: 50rem;
  width: 100%;
  background-color: white;
  box-shadow: 1px;
  padding: 1rem 4rem 1.5rem;
  border-radius: 5px;
}

.modalContainer {
  max-width: 50rem;
  width: 100%;
  background-color: white;
  box-shadow: 1px;
  padding: 0rem 4rem 1.5rem;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
}

@media (max-width: 769px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 0rem 1rem 1rem;
  }

  .body {
    padding-top: 2rem;
  }
  .modalBody {
    display: flex;
    justify-content: center;
    width: 33rem;
  }
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 0rem 1rem 1rem;
  }
  .body {
    padding-top: 2rem;
  }
  .modalBody {
    display: flex;
    justify-content: center;
    min-width: 90vw;
    max-width: 22rem;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 0.4rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 0rem 0.4rem 1rem;
  }
  .body {
    padding-top: 2rem;
  }
  .modalBody {
    display: flex;
    justify-content: center;
    min-width: 90vw;
    max-width: 15rem;
  }
}
