.body {
  display: flex;
  justify-content: center;
  /* padding-top: 5rem; */
}

.formBackground {
  position: relative;
  top: -5rem;
  height: 800px;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../public/imag1.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}

.ModalCloseButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.modalBody {
  display: flex;
  justify-content: center;

  /* max-width: 30rem; */
}

.container {
  max-width: 50rem;
  width: 100%;
  background-color: white;
  box-shadow: 1px;
  padding: 1rem 4rem 1.5rem;
  border-radius: 5px;
}

.modalContainer {
  max-width: 50rem;
  width: 100%;
  background-color: white;
  box-shadow: 1px;
  padding: 1rem 4rem 1.5rem;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
}

@media (max-width: 769px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem 1rem;
  }

  .body {
    padding-top: 5rem;
  }
  .modalBody {
    display: flex;
    justify-content: center;
    width: 33rem;
  }
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 1rem 1rem 1rem;
  }
  /* .body {
    padding-top: 2rem;
  } */
  .modalBody {
    display: flex;
    justify-content: center;
    min-width: 90vw;
    max-width: 22rem;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 1rem 0.4rem;
  }
  .modalContainer {
    max-width: 100%;
    width: 100%;
    padding: 0rem 0.4rem 1rem;
  }
  /* .body {
    padding-top: 2rem;
  } */
  .modalBody {
    display: flex;
    justify-content: center;
    min-width: 90vw;
    max-width: 15rem;
  }
}

@media (min-height: 640px) {
  .body {
    align-items: center;
    min-height: 80vh;
  }
}
