.noScroll {
  overflow: hidden;
}
.scrollContainer {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* For WebKit-based browsers like Chrome and Safari */
.scrollContainer::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}
