.flexContainer {
    margin: auto;
    display: flex;
    padding-bottom: 10em ;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1120px;
    width: 90%;
  }
  

  .p {
    text-align: left;
    font-size:30px;
    line-height: 40px;

  }




  .flexbox{
    width: 30em;
    margin: auto;
  }


  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }