
.cards__item {
  display: flex;
  flex: 1;
  margin: 1rem;
  justify-content: center;
  border-radius: 20px;
}



@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
