.container {
  max-width: 700px;
  width: 100%;
  background-color: antiquewhite;
  padding: 3rem 4rem;
  border-radius: 5px;
}
.formContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inputContainer {
  width: calc(100% / 2 -10px);
  margin-top: 1rem;
}

.selectContainer {
  width: 100%;
  max-width: 13rem;
  margin-top: 1rem;
}

.formInput {
  width: 100%;
}

.item {
  width: 100%;
  padding-top: 1.5rem;
}

.p {
  margin: 1rem;
  font-size: 1.5rem;
}

.formSelect {
  width: 100%;
  margin-right: 0.1rem;
}

.sliderForm {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  margin-right: 1rem;
}

@media (max-width: 584px) {
  .inputContainer {
    width: 100%;
    margin-top: 1rem;
  }

  .formInput {
    width: 100%;
  }

  .formSelect {
    width: 100%;
  }

  .buttonContainer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selectContainer {
    width: 100%;
    margin-top: 1rem;
  }
}
