.container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.card {
  width: 100%;
  /* top: */
  max-width: 40rem;
  padding: 1.5rem 2rem;
  /* padding-bottom: 1.5rem; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  margin-top: 0.5rem;
  background-color: #2196f3;
  padding: 0.5rem 2rem;
  /* margin-top: 15%; */
  border: none;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  border-radius: 1.5rem;
  align-items: center;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  margin: 0.3rem 0.2rem;
}
.button:hover {
  background-color: rgb(105, 112, 116);
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.buttonContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modalContent {
  padding: 2rem;
  width: 90vw;
  max-width: 30rem;
  overflow-y: auto;
}
.modalContainer{
    position: absolute;
    top:-10%;
}

@media (max-height: 412px) {
    .modalContainer{
        top:10%;
        position: absolute;
    }  
}

@media (max-height: 334px) {
    .modalContainer{
        top:20%;
        position: absolute;
    }  
}