.time {
  font-size: 1%;
  padding: 6.5% 1rem;
  margin: 0;
}

.day {
  font-size: 3%;
  padding: 0.2rem 1.5vh;
  margin: 0;
}

.Button {
  margin-right: 1rem;
  margin-top: 1rem;
}

@media (max-width: 584px) {
  .time {
    font-size: 1px;
    padding: 0.225rem 1rem;
    margin: 0;
  }
  .buttonContainer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .time {
    font-size: 1%;
    padding: 6.5% 0.2rem;
    margin: 0;
  }

  .day {
    font-size: 3%;
    padding: 0.2rem 0.4rem;
    margin: 0;
  }
}
