.time{
    font-size: 1%;
    padding: 6.5% 1rem;
    margin:0
}

.day{
    font-size: 3%;
    padding: 0.2rem 1rem;
    margin:0
}

@media (max-width: 584px) {
    .time{
        font-size: 1px;
        padding: 0.225rem 1rem;
        margin:0
    }
    
  }